@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.chat-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 20px;
}

.chat-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-800;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}